<div class="container" style="text-align: left;">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1 class="orange"><%= render partial: "shared/accumoo_name" %> by <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Succeed.</h2>
      <p>Tired of calendar/to-do list fail?</p>
      <p>We hear you!</p>
      <p>
        You want to keep track of, record, and be reminded of particular
        events in your life but sometimes a Calendar entry or
        To-do list item doesn't quite fit the bill. Perhaps it's because your schedule
        changes so often. Perhaps it's because your priorities are constantly
        shifting or perhaps you're a little undisciplined. Whatever the reason,
        <%= render "shared/accumoo_name" %> has your back!
      </p>
      <h2>Flexible.</h2>
      <p>
        Let's say you want to make sure you <b>drink two-8 oz. glasses of water
        every hour of every day</b> or that you <b>work out at least three times
        a week</b>, or that you <b>take at least one 5-minute break every hour
        during the course of a work day</b>. It doesn't necessarily matter <i>when</i>
        you drink those two-8 oz. glasses of water within the hour, or on <i>what
        days</i> you work out during the week, or even <i>what time</i> you
        take your 5-minute work break every hour; what <i>does</i> matter, is that
        you <i>do</i>.

        <p>
          <%= render "shared/accumoo_name" %> allows you to do all this and more!
        </p>
        <h2>Easy.</h2>
      </p>
      <p>
        <ul>
          <li>
            People are busy. Accumoo sets you up for success, not failure. Calendar
            events and schedules
            rarely happen as planned. When personal calendar events, for example,
            fail to take place, they are rarely reschduled. This is due, in part,
            to the conventional calendar event which is rigidly bound to a
            specific date and time. This system sets people up for failure.
            Accumoo events, on the other hand, are date and time agnostic.
            Accumoo events can take place <i>anywhere</i> within the timeframe
            chosen by the user. This system provides more flexibility and sets
            you up for success.
          </li>
          <li>
            Accumoo's events are date and time agnostic, allowing the user
            to engage an event at their leisure, when it's convenient for <i>them</i>.
          </li>
          <li>
            Calendar events are merely a rigid placeholder for a scheduled event.
            There is no metadata
            associated with a calendar event. For example, an event in a calendar
            cannot indicate whether or not the event actually took place. An Accumoo event,
            on the other hand, is a <i>flexible</i> placeholder that records whether
            or not the event actually took place, as well as the date and time
            the event took place. In addition to this, Accumoo event metadata
            records whether or not a series of related events has taken place
            in part or <i>in toto</i>. This affords Accumoo the ability to
            provide statistical data for each event (pro version).
          </li>
        </ul>
      </p>
    </div>
  </div>
</div>
