<div class="footer footer-padding">
  <div class="hr"></div>
  <div class="copyright">
    © <%= Date.today.year.to_s %> Mohojo Werks LLC. All rights reserved.
  </div>

  <div>
    <%= image_tag("mohojo-werks-logo.png", :alt => @title + ' logo', :style => "margin-top:8px;") %>
    <%# image_tag("rails.png", :alt => "Built with Rails", :style => "margin-top:8px;") %>
  </div>

</div>