<container>
  <row class="col-lg-12">
    <div class="hr"></div>
  </row>
  <row>
    <div class="col-lg-6 col-lg-offset-3 footer footer-padding">
      <div class="copyright">
        © <%= Date.today.year.to_s %> <%= @company_name %>. All rights reserved.
      </div>
      <div>
        <%= image_tag("mohojo-werks-logo.png", :alt => @title + ' logo', :style => "margin-top:8px;") %>
      </div>
    </div>
  </row>
</container>
