<div class="definition-container">

  <div class="word">ho·mo sa·pi·ens</div>
  <div class="pronunciation">/ˈhōmō ˈsāpēənz/</div>
  <div class="type">Noun</div>
  <ol class="list">
    <li class="definition">The species to which humans belong; humans regarded as a species.</li>
    <li class="definition">A member of this species.</li>
  </ol>

</div>