<div class="definition-container">

  <div class="word">mo·jo</div>
  <div class="pronunciation">/ˈmōˌjō/</div>
  <div class="type">Noun</div>
  <ol class="list">
    <li class="definition">A magic charm, talisman, or spell.</li>
    <li class="definition">Magic power.</li>
  </ol>

</div>