<ul class="navigation-bar">
  <li><%= link_to_unless_current("Home", {controller: :home, action: :index}) %></li>
  <li class="menu-seperator"><%= link_to_unless_current("Contact", {controller: :contact, action: :new}) %></li>
</UL>

