<h1>Happy <%= get_today_name_of_day %>!</h1>

<div class="section section-left">
  <div class="section-header">Check this Out!</div>
  <div class="section-content">
    medio de fonte leoprum surgit amari aliquid quod in ipsis floribus angat ... nec procumbere humi prostratum et
    pandere palmas ante deum delubra nec aras sanguine multo spargere quadrupedum nec votis nectere vota, sed mage
    pacata posse omnia mente tueri.
  </div>
  <div class="section-footer">This is the footer.</div>
</div>

<div class="section section-center">
  <div class="section-header">Check this Out Also!</div>
  <div class="section-content">
    medio de fonte leoprum surgit amari aliquid quod in ipsis floribus angat ... nec procumbere humi prostratum et
    pandere palmas ante deum delubra nec aras sanguine multo spargere quadrupedum nec votis nectere vota, sed mage
    pacata posse omnia mente tueri.
  </div>
  <div class="section-footer">This is the footer.</div>
</div>

<div class="section section-center">
  <div class="section-header">Oh My!</div>
  <div class="section-content">
    medio de fonte leoprum surgit amari aliquid quod in ipsis floribus angat ... nec procumbere humi prostratum et
    pandere palmas ante deum delubra nec aras sanguine multo spargere quadrupedum nec votis nectere vota, sed mage
    pacata posse omnia mente tueri.
  </div>
  <div class="section-footer">This is the footer.</div>
</div>


<div class="section section-right">
  <div class="section-header">Check this Out Also!</div>
  <div class="section-content">
    medio de fonte leoprum surgit amari aliquid quod in ipsis floribus angat ... nec procumbere humi prostratum et
    pandere palmas ante deum delubra nec aras sanguine multo spargere quadrupedum nec votis nectere vota, sed mage
    pacata posse omnia mente tueri.
  </div>
  <div class="section-footer">This is the footer.</div>
</div>

