<h1>Happy <%= get_today_name_of_day %>!</h1>

<h2>Mobile Apps!</h2>
<div class='container'>
  <div class='row'>
    <div class='col-lg-4 col-lg-offset-4'>
      <div class='thumbnail grey'>
        <i class='fa fa-check-circle fa-md'></i>
        <div class='caption'>
          <h3 class="orange">Accumoo by <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %></h3>
          <p class='blurb'>Health. Wellness. Productivity.</p>
          <p class='blurb'>Keep track of personal events in your life with this handy tool.</p>
          <p><%= link_to 'More', accumoo_index_path, class: 'btn btn-lg btn-default btn-special' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
