<div>
  <h1>Well, Hello There!</h1>
  <p>
    We love email!
  </p>

  To contact <%= render "shared/mohojo_name", :css_class_name => "mohojo-name bold" %> please email us at:
  <%= @contact_email %>
</div>
