@import 'mixins';

$base-font-size: 1.5em;

.navbar {
  >.container {
    >.navbar-header>a {
      font-size: $base-font-size;
    }

    >div>.navbar-nav>.dropdown>a {
      font-size: $base-font-size;
    }

    >div>.navbar-nav>.dropdown>.dropdown-menu>li>a {
      font-size: $base-font-size;
    }

    >div>.navbar-nav>li>a {
      font-size: $base-font-size;
    }
  }
}

.base-background {
  background-color: #fefefe;
}

.base-color {
  color: #ee6600;
}

body {
  @extend .base-background;
  @extend .base-color;
  min-width: 800px;
  font-size: $base-font-size;
  font-family: ProximaNova, Helvetica, Arial, 'Lucida Grande', Verdana, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

/*
a:link {
  color: $default-link-color-dark;
}

a:visited {
  color: lighten($default-link-color-dark, 10%);
}

a:hover {
  color: $default-link-color-dark;
}

a:active {
  color: $default-link-color-dark;
}
*/

.header {
  height: 250px;
  text-align: center;
  background-color: #333;
  background-image: url(/assets/background-tile.png);
  border-bottom: solid 5px $default-trim-color;

  >.section {
  }
  .padding {
    padding: 25px;
  }

  .left {
    float: left;
    display: inline-block;
  }

  .right {
    float: right;
    display: inline-block;
  }
}

.body {
  text-align: center;
}

.footer {
  text-align: center;
}

.footer {
  color: #666;
  font-size: $base-font-size;
  line-height: 20px;
}

div.hr {
  border-top: 1px solid #D45500;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 25px;
  margin-bottom: 12px;
}

.shadow {
  @include shadow;
}

.copyright {
  font-size: $base-font-size * 0.75;
}

/*
ol, ul, li {
  border: 0;
  margin: 0;
  padding: 0;
}
*/

.definition-container {
  text-align: left;

  .word {
    font-weight: bold;
    font-size: $base-font-size * 1.5;
  }

  .pronunciation {}

  .type {}

  .list {
    margin: 0;
    padding-left: 19px;

    .definition {
      margin: 0;
      font-size: small;
      font-weight: lighter;
    }
  }
}

/* Mohojo Name/Slogan */
.mohojo-name-header {
  display: block;
  font-weight: bold;
  font-size: 3.0em;
  text-align: left;
}

.mohojo-name-normal {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.mohojo-slogan {
  display: block;
  font-size: smaller;
  font-style: italic;
  text-align: left;
  font-size: 1.25em;
}

.tm:after {
  content: '™';
}

.sm:after {
  content: '℠';
}

.exclaimation:after {
  content: '!';
}

/* Navigation */
ul.navigation-bar {
  padding: 8px 25px 8px 8px;
}

ul.navigation-bar li {
  display: inline;
  font-size: $base-font-size * 1.5;
}

li.menu-seperator:before {
  content: " | ";
}
