// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

$padding: 10px;

@mixin section {
  @include shadow;
  @include teardrop-corners-right-large;
  display: inline-block;
  border: solid 2px $default-trim-color;
  width: 250px;
}

.section>.section-header {
  @include teardrop-corners-right-large;
  min-height: 25px;
  background-color: #000;
}

.body>.section-left {
  @include section;
}

.body>.section-center {
  @include section;
  margin-left: 25px;
}

.body>.section-right {
  @include section;
  margin-left: 25px;
}

.section-header {
  background-image: url(/assets/background-tile.png);
}

.section-header, .section-content, .section-footer {
  padding: $padding;
}

.section-footer {
  background-color: $background-color-light;
  border-top: dotted 2px $default-trim-color;
}

