// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'mixins';

@mixin section {
  @include shadow;
  @include rounded-corners-xsmall;
  display: inline-block;
  /*padding: 10px; */
  border: solid 2px $default-trim-color;
  width: 150px;
}

.section>.section-header {
  min-height: 75px;
  background-color: #000;
  padding: 10px;
}

.body>.section-left {
  @include section;
}

.body>.section-center {
  @include section;
  margin-left: 25px;
}

.body>.section-right {
  @include section;
  margin-left: 25px;
}

